.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.flexContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  margin-top: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: black
}

/* This container will naturally size to fit its content */
.calendarContainer {
  /* Add any styling for the calendar events here */
}

/* Push the LocationInfo to the right */
.locationContainer {
  margin-left: auto;
  /* Optionally add additional styling */
  padding-left: 16px;
  border-left: 1px solid #eee;
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
